<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
    		    <li><a href="/">envelope</a></li>
        		<li><a href="/postcards">postcards</a></li>
	        	<li><a href="/letters">letters</a></li>
        		<!-- <li><a href="/tsp">TSP</a></li> -->
    		</ul>
		</nav>
		<div class="container">
		
    {{content}}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="http://brunston.io/">about</a>
				<li>written with care. copyright 2016 brunston poon.
			</ul>
		</footer>
	</body>
</html>
