<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
    		    <li><a href="/">About</a></li>
        		<li><a href="/postcards">Postcards</a></li>
	        	<li><a href="/letters">Letters</a></li>
        		<li><a href="/tsp">TSP</a></li>
    		</ul>
		</nav>
		<div class="container">
		
    {{content}}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:brupoon@outlook.com">email</a></li>
        		<li><a href="https://github.com/brupoon">github.com/brupoon</a></li>
			</ul>
		</footer>
	</body>
</html>
